.serach__input-box{
    display:flex;
    width: 80%;
    height :40px;
    font-size : 16px;
}
.main-header{
    display:flex;
    background-color:#654ea3;
    padding:20px;
    position:sticky;
    top:0;
    z-index:10000;
    justify-content:space-around;
    align-items:center;
}
.search-btn{
    padding:10px 30px;
    text-align:center;
    background-color: #eaafc8;
    border-radius: 50px;
}
